<p>
<a class ="btn btn-primary" [routerLink]="['/admin/products/new']" >New Product</a>
</p>
<!-- <p>
    <input type="text" class="form-control" (keyup)="filter(search.value)" #search  placeholder="Search...">
</p> -->


<!-- <data-table
[items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)"
>

<data-table-column
[property]="'title'"
[header]="'Title'"
[sortable]="true"
[resizable]="true"
></data-table-column>

<data-table-column
[property]="'price'"
[header]="'Price'"
[sortable]="true"
[resizable]="true"
>
<ng-template #dataTableCell  let-item="product">
    {{ product.price | currency:'USD':true }}
</ng-template>
</data-table-column>

<data-table-column
[property]="'key'"
>
<ng-template #dataTableCell  let-item="product">
    <a  [routerLink]="['/admin/products/',product.key]">Edit</a> 
</ng-template>
</data-table-column>


</data-table> -->

 <!-- <table class="table">
    <thead>
        <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>
                <a  [routerLink]="['/admin/products/',product.key]">Edit</a> 
            </td>
        </tr>
    </tbody>
</table>  -->

<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
[dtTrigger]="dtTrigger" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of items">
      <td>{{ user.title }}</td>
      <td>{{ user.price }}</td>
     <td> <a  [routerLink]="['/admin/products/',user.key]">Edit</a> </td>
    </tr>
  </tbody>
</table>
